:root {
  --white-text: #ffffff;

  --purple-text: #c500d6;

  --pink-text: #f365ff;

  --light-pink-text: #f688ff;

  --background-color: #0d0d0d;

  --backgroun-list-color: #8f438b;
}

body {
  color: var(--white-text);
  background-color: var(--background-color);
}

.container {
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 120px;
    padding-right: 120px;
  }
}

/**************section-one-header**************/

.section-one-header {
  position: relative;

  padding-top: 96px;
  padding-bottom: 37px;

  background-image: url(../images/png/header-pento.png),
    url(../images/png/header-ellipse.png),
    url(../images/png/header-what-is-next.png);
  background-repeat: no-repeat;
  background-position: top 0 right 0, left 0 top 0, bottom 40px left 50%;
  background-size: 200px, 180px, 100%;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-one-header {
    background-image: url(../images/png/header-pento-mobile-2x.png),
      url(../images/png/header-ellipse-mobile-2x.png),
      url(../images/png/header-what-is-next-2x.png);
  }
}

.header-text {
  position: absolute;
  bottom: 40px;
  left: 0;
  z-index: -1;
}

.main-hero-title {
  font-family: Unbounded;
  font-size: 36px;
  font-weight: 500;
  line-height: 130%; /* 46.8px */
  text-transform: uppercase;

  width: 270px;
  margin-top: 0;
  margin-bottom: 48px;

  background-image: url(../images/png/header-star.png);
  background-repeat: no-repeat;
  background-position: left 220px top 0;
  background-size: 46px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .main-hero-title {
    background-image: url(../images/png/header-star-mobile-2x.png);
    background-size: 46px;
  }
}

.hero-text {
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: 130%; /* 31.2px */
  color: var(--purple-text);

  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .section-one-header {
    padding-top: 120px;
    padding-bottom: 100px;

    background-image: url(../images/png/header-pento-tablet-1x.png),
      url(../images/png/header-ellipse-tablet-1x.png),
      url(../images/png/header-what-is-next-tablet-1x.png);

    background-size: 409px, 320px, 100%;
    background-position: top 0 right 0, left 0 top 0, bottom 90px left 50%;
  }

  .main-hero-title {
    font-size: 80px;
    width: 590px;

    margin-bottom: 99px;

    background-image: url(../images/png/header-star-tablet-1x.png);
    background-repeat: no-repeat;
    background-position: left 480px top 0;
    background-size: 99px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main-hero-title {
      background-image: url(../images/png/header-star-tablet-2x.png);
      background-size: 99px;
    }
    .section-one-header {
      background-image: url(../images/png/header-pento-tablet-2x.png),
        url(../images/png/header-ellipse-tablet-2x.png),
        url(../images/png/header-what-is-next-tablet-2x.png);
    }
  }

  .hero-text {
    font-size: 48px;
  }

  .header-text {
    bottom: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .section-one-header {
    padding-top: 203px;
    padding-bottom: 100px;

    background-image: url(../images/png/header-pento-desktop-1x.png),
      url(../images/png/section-three-ellipse-desktop-1x.png),
      url(../images/png/header-what-is-next-desktop-1x.png);

    background-size: 600px, 420px, 100%;
    background-position: right 0 top 0, left 0 top 50px, bottom 90px left 50%;
  }

  .main-hero-title {
    font-size: 120px;
    width: 917px;

    margin-bottom: 173px;

    background-image: url(../images/png/header-star-desktop-1x.png);
    background-repeat: no-repeat;
    background-position: left 740px top 0;
    background-size: 132px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main-hero-title {
      background-image: url(../images/png/header-star-desktop-2x.png);
      background-size: 99px;
    }
    .section-one-header {
      background-image: url(../images/png/header-pento-desktop-2x.png),
        url(../images/png/section-three-ellipse-desktop-2x.png),
        url(../images/png/header-what-is-next-desktop-2x.png);
    }
  }

  .hero-text {
    font-size: 80px;
  }
}
/**************section-two**************/

.section-two {
  padding-top: 92px;
  padding-bottom: 72px;

  background: linear-gradient(
    180deg,
    rgba(13, 13, 13, 0.1) 5.21%,
    rgba(219, 71, 214, 0.1) 30%,
    rgba(219, 71, 214, 0.1) 75.31%,
    rgba(13, 13, 13, 0.1) 100%
  );
  backdrop-filter: blur(55px);
}

.text-container {
  margin-bottom: 40px;
}

.section-two .text-container .text-one {
  text-align: center;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 500;
  line-height: 130%; /* 18.2px */

  margin-top: 0;
  margin-bottom: 0;
}

.section-two .text-container .space {
  margin-bottom: 10px;
}

.section-two .text-two {
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  font-family: Raleway;
  font-size: 14px;
  font-weight: 700;
  line-height: 130%; /* 18.2px */
  color: var(--pink-text);

  width: 264px;

  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .section-two {
    padding-top: 160px;
    padding-bottom: 120px;
    backdrop-filter: blur(30px);
  }

  .section-two .text-container .text-one {
    font-size: 24px;
    width: 512px;
    margin-left: auto;
    margin-right: auto;
  }

  .section-two .text-two {
    font-size: 24px;
    width: 456px;
  }
}

@media screen and (min-width: 1440px) {
  .section-two {
    padding-top: 105px;
    padding-bottom: 105px;
    backdrop-filter: blur(30px);
  }

  .section-two .text-container .text-one {
    font-size: 32x;
    width: 665px;
    margin-left: auto;
    margin-right: auto;
  }

  .section-two .text-two {
    font-size: 32px;
    width: 591px;
  }
}

/**************section-three**************/

.section-three {
  padding-top: 58px;
  padding-bottom: 58px;

  position: relative;

  background-image: url(../images/png/section-three-ellipse.png);
  background-repeat: no-repeat;
  background-size: 150px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-three {
    background-image: url(../images/png/section-three-ellipse-mobile-2x.png);
    background-size: 150px;
  }
}

.section-three-women {
  position: absolute;
  right: 0;
  top: 20px;
  z-index: -1;
}

.section-three h2 {
  font-family: Unbounded;
  font-size: 16px;
  font-weight: 600;
  line-height: 130%; /* 20.8px */

  width: 214px;

  margin-top: 0;
  margin-bottom: 88px;
}

.section-three span {
  color: #f688ff;
}

.three-svg {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .section-three {
    padding-top: 188px;
    padding-bottom: 180px;

    background-image: url(../images/png/section-three-ellipse-tablet-1x.png);
    background-position: 0 100px;
    background-size: 250px;
  }

  .section-three h2 {
    font-size: 32px;
    width: 419px;

    margin-bottom: 180px;
  }

  .three-svg {
    width: 100px;
    height: 100px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-three {
      background-image: url(../images/png/section-three-ellipse-mobile-2x.png);
      background-size: 46px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .section-three {
    background-position: 100px 100px;
  }
}

@media screen and (min-width: 1440px) {
  .section-three {
    padding-top: 188px;
    padding-bottom: 180px;

    background-image: url(../images/png/section-three-ellipse-desktop-1x.png);
    background-position: 0 100px;
  }

  .section-three h2 {
    font-size: 64px;
    width: 839px;

    margin-bottom: 343px;
  }

  .three-svg {
    width: 200px;
    height: 200px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-three {
      background-image: url(../images/png/section-three-ellipse-desktop-2x.png);
      background-size: 300px;
    }
  }
}

/**************section-four**************/
.section-four {
  padding-top: 20px;

  position: relative;
}

.four-number-one {
  position: absolute;
  top: -20px;
  right: 38px;
  z-index: -1;

  font-family: Unbounded;
  font-size: 96px;
  font-weight: 700;
  line-height: 130%; /* 124.8px */

  color: #0d0d0d;
  text-shadow: 1px 0 1px #8d009980, 0 1px 1px #8d009980, -1px 0 1px #8d009980,
    0 -1px 1px #8d009980;
}

.section-title-four {
  font-family: Unbounded;
  font-size: 14px;
  font-weight: 400;
  line-height: 130%; /* 18.2px */

  width: 257px;

  margin-bottom: 24px;
}

.section-four-list {
  padding: 24px 26px;
  border-radius: 20px;
  background: #8f438b;

  margin-top: 0;
  margin-bottom: 48px;
}

.four-list-item {
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 18.2px */

  margin-bottom: 12px;
}

.four-list-item:last-child {
  margin-bottom: 0;
}

.four-text {
  font-family: Raleway;
  font-size: 14px;
  font-weight: 500;
  line-height: 130%; /* 18.2px */

  margin-top: 0;
  margin-bottom: 63px;
}

.decoration {
  display: block;
  height: 2px;
  background-color: #8d0099;
  width: 140px;
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .section-four {
    padding-top: 20px;
  }

  .section-title-four {
    font-size: 24px;
    width: 421px;
  }

  .four-number-one {
    top: -50px;
    right: 60px;

    font-size: 170px;
  }

  .four-list-item {
    font-size: 24px;
  }

  .section-four-list {
    padding: 32px 40px;
  }

  .four-text {
    font-size: 24px;
    width: 532px;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1440px) {
  .section-four {
    padding-top: 20px;
  }

  .section-title-four {
    font-size: 32px;
    width: 798px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }

  .four-number-one {
    top: 170px;
    left: 100px;

    font-size: 260px;
  }

  .four-list-item {
    font-size: 24px;
  }

  .section-four-list {
    padding: 40px 80px;
    border-radius: 20px;

    margin-bottom: 40px;

    width: 826px;

    margin-left: auto;
    margin-right: auto;
  }

  .four-text {
    font-size: 28px;
    width: 650px;
    margin-bottom: 120px;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
  }

  .decoration {
    display: block;
    height: 2px;
    background-color: #8d0099;
    width: 400px;
    border-radius: 2px;

    margin-left: auto;
    margin-right: auto;
  }
}

/**************section-five**************/

.section-five {
  padding-top: 65px;
  padding-bottom: 86px;
  position: relative;
}

.section-title-five {
  font-family: Unbounded;
  font-size: 14px;
  font-weight: 400;
  line-height: 130%; /* 18.2px */

  width: 257px;

  margin-top: 0;
  margin-bottom: 24px;
}

.five-text-container {
  border-radius: 20px;
  background: #8f438b;

  padding: 24px 18px;
}

.section-five .text-one {
  font-family: Raleway;
  font-size: 14px;
  font-weight: 500;
  line-height: 130%; /* 18.2px */

  margin-top: 0;
  margin-bottom: 0;
}

.section-five .text-one span {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
}

.five-text-container .space {
  margin-bottom: 12px;
}

.five-number-two {
  position: absolute;
  top: 30px;
  right: 38px;
  z-index: -1;

  font-family: Unbounded;
  font-size: 96px;
  font-weight: 700;
  line-height: 130%; /* 124.8px */

  color: #0d0d0d;
  text-shadow: 1px 0 1px #8d009980, 0 1px 1px #8d009980, -1px 0 1px #8d009980,
    0 -1px 1px #8d009980;
}

@media screen and (min-width: 768px) {
  .section-five {
    padding-top: 80px;
    padding-bottom: 120px;
    position: relative;
  }

  .section-title-five {
    font-size: 24px;
    width: 576px;
  }

  .five-number-two {
    font-size: 170px;

    top: 10px;
    right: 60px;
  }

  .five-text-container {
    padding: 32px 30px;
  }

  .section-five .text-one {
    font-size: 24px;
  }

  .section-five .text-one span {
    font-size: 24px;
  }

  .five-text-container .space {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .section-five {
    padding-top: 120px;
    padding-bottom: 120px;
    position: relative;
  }

  .section-title-five {
    font-size: 32px;
    width: 818px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 40px;
  }

  .five-number-two {
    font-size: 260px;

    top: 380px;
    left: 80px;
  }

  .five-text-container {
    padding: 40px 83px;
    width: 826px;

    margin-left: auto;
    margin-right: auto;
  }

  .section-five .text-one {
    font-size: 28px;
  }

  .section-five .text-one span {
    font-size: 28px;
  }

  .five-text-container .space {
    margin-bottom: 32px;
  }
}

/**************section-six**************/
.section-six {
  padding-bottom: 58px;

  background-image: url(../images/png/section-six-ellipse.png);
  background-repeat: no-repeat;
  background-position: bottom 20px left 20px;
  background-size: 150px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-six {
    background-image: url(../images/png/section-six-ellipse-mobile-2x.png);
    background-size: 150px;
  }
}

.six-table {
  border-collapse: collapse;
  margin-bottom: 32px;
  width: 100%;
}

.table-rate {
  text-align: start;
  font-family: Unbounded;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 18.2px */

  padding-bottom: 20px;
}

.table-products {
  text-align: end;
  font-family: Unbounded;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 13px */

  padding-bottom: 20px;
}

.table-products .product-one {
  font-size: 14px;
  color: var(--light-pink-text);
}

.table-products .product-two {
  font-size: 14px;
  color: var(--purple-text);
}

.six-table td {
  padding-top: 14px;
  padding-bottom: 12px;
}

.table-date {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 130%; /* 15.6px */

  width: 120px;
}

.table-price {
  text-align: end;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 130%; /* 18.2px */
}

.six-table tr {
  border-bottom: 1px solid rgba(141, 0, 153, 0.5);
}

.table-description {
  text-align: center;
  font-family: Unbounded;
  font-size: 12px;
  font-weight: 300;
  line-height: 130%; /* 15.6px */

  margin-top: 0;
  margin-bottom: 0;
}

.table-description span {
  color: var(--purple-text);
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .table-rate {
    font-size: 24px;
    padding-bottom: 44px;
  }

  .table-products {
    font-size: 16px;
    padding-bottom: 44px;
    line-height: 180%;
  }

  .table-products .product-one {
    font-size: 24px;
  }

  .table-products .product-two {
    font-size: 24px;
  }

  .table-date {
    font-size: 20px;
    width: 200px;
  }

  .table-price {
    font-size: 24px;
  }

  .six-table td {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .six-table {
    margin-bottom: 60px;
  }

  .table-description {
    font-size: 20px;
    width: 454px;
    margin-left: auto;
    margin-right: auto;
  }

  .section-six {
    padding-bottom: 58px;

    background-image: url(../images/png/section-six-ellipse-tablet-1x.png);
    background-repeat: no-repeat;
    background-position: bottom 20px left 150px;
  }
}

@media screen and (min-width: 1024px) {
  .section-six {
    background-position: bottom 40px left 280px;
  }
}

@media screen and (min-width: 1440px) {
  .table-rate {
    font-size: 29px;
    padding-bottom: 41px;
  }

  .table-products {
    font-size: 18px;
    padding-bottom: 41px;
  }

  .table-products .product-one {
    font-size: 28px;
  }

  .table-products .product-two {
    font-size: 28px;
  }

  .table-date {
    font-size: 24px;
    width: 230px;
  }

  .table-price {
    font-size: 28px;
  }

  .six-table td {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .six-table {
    margin-bottom: 60px;
  }

  .table-description {
    font-size: 28px;
    width: 786px;
    margin-left: auto;
    margin-right: auto;
  }

  .section-six {
    padding-bottom: 120px;

    background-image: url(../images/png/section-six-ellipse-desktop-1x.png);
    background-repeat: no-repeat;
    background-position: bottom 90px left 290px;
    background-size: 150px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-six {
      background-image: url(../images/png/section-six-ellipse-desktop-2x.png);
      background-size: 150px;
    }
  }
}

/**************section-seven**************/

.section-seven {
  padding-top: 26px;
  padding-bottom: 100px;

  background-image: url(../images/png/section-seven-numbers-two.png),
    url(../images/png/section-seven-numbers-three.png);
  background-repeat: no-repeat;
  background-position: top 20px left 0, top 200px left 0;
  background-size: 100%, 100%;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-seven {
    background-image: url(../images/png/section-seven-numbers-two-2x.png),
      url(../images/png/section-seven-numbers-three-2x.png);
  }
}

.button-container p {
  text-align: center;
  font-family: Unbounded;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 15.6px */

  margin-top: 0;
  margin-bottom: 4px;
}

.button-container .tariff {
  text-align: center;
  color: var(--light-pink-text);
  font-family: Unbounded;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 26px */

  margin-top: 0;
  margin-bottom: 20px;
}

.button-list-item .accent {
  color: var(--purple-text);
}

.button-container .seven-button {
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;

  padding: 16px 100px;

  border-radius: 40px;

  color: #0d0d0d;
  font-family: Unbounded;
  font-size: 16px;
  font-weight: 600;
  line-height: 130%; /* 20.8px */

  cursor: pointer;
}

.button-container .first-button {
  background-color: var(--light-pink-text);
  margin-bottom: 64px;
  animation: glowing 1300ms infinite;
}

.button-container .second-button {
  background-color: var(--purple-text);
  animation: glowing-two 1300ms infinite;
}

@keyframes glowing {
  0% {
    background-color: #f688ff;
    box-shadow: 0 0 5px #f688ff;
  }
  50% {
    background-color: #fbcaff;
    box-shadow: 0 0 20px #fbcaff;
  }
  100% {
    background-color: #f688ff;
    box-shadow: 0 0 5px #f688ff;
  }
}

@keyframes glowing-two {
  0% {
    background-color: #c500d6;
    box-shadow: 0 0 5px #c500d6;
  }
  50% {
    background-color: #f150ff;
    box-shadow: 0 0 20px #f150ff;
  }
  100% {
    background-color: #c500d6;
    box-shadow: 0 0 5px #c500d6;
  }
}

@media screen and (min-width: 768px) {
  .section-seven {
    padding-bottom: 92px;

    background-image: url(../images/png/section-seven-numbers-tablet-1x.png);
    background-repeat: no-repeat;
    background-position: top -10px left 0;
    background-size: 100%;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-seven {
      background-image: url(../images/png/section-seven-numbers-tablet-2x.png);
    }
  }

  .button-container .first-button {
    margin-bottom: 0;
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-self: center;

    gap: 62px;
  }

  .button-container p {
    font-size: 14px;
  }

  .button-container .tariff {
    font-size: 24px;
  }

  .button-container .seven-button {
    padding: 20px 110px;
    font-size: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .section-seven {
    padding-bottom: 160px;

    background-image: url(../images/png/section-seven-numbers-desktop-1x.png);
    background-position: top -30px left 0;
    background-size: 100%;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-seven {
      background-image: url(../images/png/section-seven-numbers-desktop-2x.png);
    }
  }

  .button-container .first-button {
    margin-bottom: 0;
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-self: center;

    gap: 160px;
  }

  .button-container p {
    font-size: 18px;
  }

  .button-container .tariff {
    font-size: 28px;
  }

  .button-container .seven-button {
    padding: 30px 140px;
    font-size: 28px;
    border-radius: 60px;
  }
}

/**************section-eight**************/
.section-eight {
  padding-bottom: 64px;
}

.section-eight p {
  text-align: center;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 18.2px */

  margin-top: 0;
  margin-bottom: 0;
}

.section-eight .space {
  margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .section-eight {
    padding-bottom: 140px;
  }
}

@media screen and (min-width: 1440px) {
  .section-eight {
    padding-bottom: 200px;
  }

  .section-eight p {
    font-size: 28px;
    width: 1067px;
  }
}
